html,
body {
  background: rgb(95, 158, 160);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.DC2 {
  stroke-width: 5px;
  cursor: pointer;
  &:hover {
    stroke-width: 7px;
    stroke: blue;
    fill: blue;
  }
}

path {
  pointer-events: all;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
path:hover {
  // opacity: 0.3;
  stroke-width: 7px;
  stroke: blue;
  fill: blue;
}
