$fillColor: rgb(6, 6, 59);

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

path {
  pointer-events: all;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
path:hover {
  stroke-width: 7px;
  stroke: $fillColor;
  fill: $fillColor;
}

.DC2 {
  stroke-width: 5px;
  cursor: pointer;
  &:hover {
    stroke-width: 7px;
    stroke: $fillColor;
    fill: $fillColor;
  }
}
