.flagimage {
  height: 2rem;
  width: 3rem;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(61, 61, 68, 0.2);
  z-index: 2;
  position: relative;
  img {
    width: 3rem;
    height: auto;
  }
}

.statesList {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.card {
  border-radius: 10px;
  margin: 0.4rem;
  width: 160px;
  height: 120px;
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
  cursor: pointer;
  background: rgb(251, 251, 252);
  position: relative;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.281);
  ::after {
    content: attr(data-postal);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: rgba(128, 128, 128, 0.479);
    font-size: 3rem;
  }
  h5 {
    padding: 10px;
    z-index: 2;
  }
  &:hover {
    transform: scale(1.1);
  }
}
